<div class="navbar navbar-inverse" style="position: static;">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">DotaBets.com</a>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse"> 
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
        <ul class="nav">
          <li class="<%= 'active' if current_page? root_path %>">
            <%= link_to 'Home', :root %>
          </li>
          <li class="<%= 'active' if (controller_path== "projects") %>">
            <%= link_to 'Matches', :projects %>
          </li>
          <% if logged_in? %>
          <li class="<%= 'active' if (controller_path== "my/bets") %>">
            <%= link_to 'My Bets', "/my/bets" %>
          </li>
          <%end%>
        </ul>
      

      
        <div class="pull-right">
        <% if logged_in? %>
              <% if current_user[:admin]==1 %>
              <%= link_to 'Admin: My Matches', "/my/projects", class: 'btn btn-danger' %>
              <% end %>
        <%= link_to 'Logout', :logout, class: 'btn btn-warning btn-flat' %>
        <% else %>

        <%= link_to 'Sign Up', [:new, :user], class: 'btn btn-danger' %>
        <%= link_to " Login ", :login , class: 'btn btn-primary' %>

        <% end %>

        </div>
    </div>
  </div>
</div>
  
  <% if flash[:notice] != nil %>
  <div class ="flashy">

  <span class="label label-success">
  <%= flash[:notice] %>
  </span>
  </div>
  <%end%>

  <% if flash[:alert] != nil %>
  <div class ="flashy">

  <span class="label label-warning">
  <%= flash[:alert] %>
  </span>
  </div>
  <%end%>

