<div class="bet">

<h2>Bet on this game!</h2>

<h3><%=@project[:title]%></h3>

<%= form_for [@project, @bet] do |f| %>

  <% if @bet.errors.any? %>
    <div class = "error_messages">
  	<h3>Unable to complete wager:</h3>
    <ul>

  		<% for message in @bet.errors.full_messages %>
  			      <div class="alert alert-error">   
              <strong>Error! </strong><%=message%>  
              </div>  
  		<% end %>
  	</ul>
  </div>
  <% end %>

 <div class="field">
  <%= f.label "Team A" %>
  <%= f.number_field :amount1%>
  </div> 

  <div class="field">
  <%= f.label "Team B" %>
  <%= f.number_field :amount2%>
  </div> 


    <div class="action">
  	
  	<%= button_tag(type: "submit", class: "btn btn-success") do %>
    <i class="icon-leaf"></i> Bet Now! 
    <% end %>
  </div>
 <%end%>
 <br>
 <br>
 <br>
 <%= link_to '< back to match info', "/projects/#{@project.id}", class: 'btn btn-info' %>