<br>
<%= link_to 'Browse Matches', "/projects", class: 'btn btn-success' %>
<br>

<h1>My Bets</h1><%=current_user.username%>
<%=@projects.inspect%>
<table class="table table-striped">
	<tr class = "tablehead">
	<td>Match</td>
	<td>Team 1</td>
	<td>Team 2</td>
	<td>Match Time</td>
	<td>Wager on Team 1</td>
	<td>Wager on Team 2</td>
	<td></td>
	</strong></tr>
<% @bets.each do |bet| %>
	
	<div class = "project">
		<tr>
  	<td><%= link_to "#{bet.project[:title]}", "/projects/#{bet.project.id}" %><li class="title"></li></td>
  	<td><%=bet.project[:team1]%></td>
  	<td><%=bet.project[:team2]%></td>
  	<td><%=bet.project[:matchtime]%></td>
  	<td><%=bet[:amount1]%> BTC</td>
  	<td><%=bet[:amount2]%> BTC</td>
  	<td> <%= link_to 'View Match Details', "/projects/#{bet.project.id}", class: 'btn btn-warning' %></td>
  	</tr>
  </div>

<% end %>
</table>